/WEB III/SEMANA 7/projeto_crud_aula_casa/build/
/WEB III/SEMANA 7/projeto_crud_aula_casa/nbproject/private/
/WEB III/projeto_biblioteca/nbproject/private/
/WEB III/projeto_biblioteca/build/
/WEB III/projeto_biblioteca_1/nbproject/private/
/WEB_III/SEMANA 3/Exercicio3/build/
/WEB_III/SEMANA 3/Exercicio3/nbproject/private/
/WEB_III/SEMANA 3/WebApplication1/build/
/WEB_III/SEMANA 3/WebApplication1/nbproject/private/
/WEB_III/SEMANA 4/Aula6_Projeto1/build/
/WEB_III/SEMANA 4/Aula6_Projeto1/nbproject/private/
/WEB_III/SEMANA 5/PROJETO_TESTE/nbproject/private/
/WEB_III/SEMANA 5/Semana5_Aula1/build/
/WEB_III/SEMANA 5/Semana5_Aula1/nbproject/private/
/WEB_III/SEMANA 6/Semana6_Estudos_Apostila/build/
/WEB_III/SEMANA 6/Semana6_Estudos_Apostila/nbproject/private/
/WEB_III/SEMANA 7/projeto_crud_aula/build/
/WEB_III/SEMANA 7/projeto_crud_aula/nbproject/private/
/WEB_III/_03/Exercicio3/build/
/WEB_III/_03/Exercicio3/nbproject/private/
/WEB_III/_03/WebApplication1/build/
/WEB_III/_03/WebApplication1/nbproject/private/
/WEB_III/SEMANA_03/Exercicio3/build/
/WEB_III/SEMANA_03/Exercicio3/nbproject/private/
/WEB_III/SEMANA_03/WebApplication1/build/
/WEB_III/SEMANA_03/WebApplication1/nbproject/private/
/WEB_III/SEMANA_04/Aula6_Projeto1/build/
/WEB_III/SEMANA_04/Aula6_Projeto1/nbproject/private/
/WEB_III/SEMANA_05/PROJETO_TESTE/nbproject/private/
/WEB_III/SEMANA_05/Semana5_Aula1/build/
/WEB_III/SEMANA_05/Semana5_Aula1/nbproject/private/
/WEB_III/SEMANA_06/Semana6_Estudos_Apostila/build/
/WEB_III/SEMANA_06/Semana6_Estudos_Apostila/nbproject/private/
/WEB_III/SEMANA_07/projeto_crud_aula/build/
/WEB_III/SEMANA_07/projeto_crud_aula/nbproject/private/
/WEB_III/projeto_biblioteca/nbproject/private/
/WEB_III/projeto_biblioteca/build/
/WEB_III/projeto_biblioteca/dist/
/WEB_III/PROJETO_FINAL/projeto_biblioteca/build/
/WEB_III/PROJETO_FINAL/projeto_biblioteca/dist/
/WEB_III/PROJETO_FINAL/projeto_biblioteca/nbproject/private/
